[user]
        name = igsr5
        email = igsr5.dev@gmail.com
[core]
  # excludesFile = ~/.gitignore
        editor = nvim
        filemode = true
        hooksPath = ~/.git_template/hooks
	excludesFile = /Users/wantedly546/.gitignore
[color]
        ui = true
[alias]
        a = add -p
        an = add -N
        c = commit
        ci = commit --allow-empty -m 'initial commit'
        p = push
        ph = push origin HEAD
        pm = push origin master
        m = merge
        mm = merge master
        f = fetch origin
        s = status
        d = diff
        l = log
        co = checkout
        cb = checkout -b
        cm = checkout master
[push]
        default = simple
	autoSetupRemote = true
[pull]
        rebase = true
	default = current
[branch]
        autoSetupRebase = always
[submodule]
        recurse = true
[url "git@github.com:"]
        pushInsteadOf = https://github.com/
        pushInsteadOf = git://github.com/
[url "git@gist.github.com:"]
        pushInsteadOf = https://gist.github.com/
        pushInsteadOf = git://gist.github.com/
[init]
        defaultBranch = master
