name: Nix Flake Check
on:
  push:

jobs:
  nix-check:
    runs-on: ubuntu-latest
    name: Nix (ubuntu-latest)
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Build Home Manager configuration
        run: nix build ./nix#homeConfigurations.ci-x86_64-linux.activationPackage --show-trace
